<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>列表页</title>
    <!-- 1 bootstrap基础css -->
    <link href="/libs/bootstrap-3.3.7-dist/css/bootstrap.css" rel="stylesheet" >

    <link href="/libs/layer/layer-new.css" rel="stylesheet" >

    <link href="/libs/bootstrap-3.3.7-dist/fonts/iconfont.css" rel="stylesheet">

    <link href="/src/css/pt-main.css" rel="stylesheet" >

    <script src="/libs/jquery/jquery-1.12.4.js"></script>

    <script src="/libs/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>

    <script src="/libs/layer/layer.js"></script>

    <script src="/src/js/main.js"></script>

</head>
<body>
<div class="pt-page">
    <!-- 头部条 -->
    <div class="pt-topbar">
        <!--左侧系统名称-->
        <div class="pt-fl pt-system-info" >
            <div class="pt-logo pt-fl"><img src="/src/images/LOGO@2x.png" alt=""></div>
            <div class="pt-slogen pt-fr">天津市港口统一收费服务平台 -<strong>企业中心</strong></div>

        </div>
    </div>
    <!-- 头部条  结束 -->

    <!--页面中间主体部分-->
    <div class="pt-root-container">
        <!--左侧菜单-->
        <div class="pt-nav pt-open">
            <!--头部点击条-->
            <div class="pt-bar" id="pt-bar"><img src="/src/images/Group15.png" alt=""></div>
            <!--菜单列表-->
            <div class="pt-menu">
                <ul>
                    <!--cell-->
                    <li class="pt-menu-list pt-menu-selected">
                        <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
                        <h3 class="pt-menu-title"><a href="#">学习资料</a></h3>
                        <ul class="pt-second-menu">
                            <!--cell-->
                            <li class="pt-menu-child">
                                <span class="glyphicon  glyphicon-th-large" aria-hidden="true"></span>
                                <h3 class="pt-menu-title"><a href="#">模拟实操</a></h3>
                            </li>
                            <!--cell-->
                            <li class="pt-menu-child">
                                <span class="glyphicon  glyphicon-th-large" aria-hidden="true"></span>
                                <h3 class="pt-menu-title"><a href="#">学习课件</a></h3>
                            </li>
                        </ul>
                    </li>
                    <!--cell-->
                    <li class="pt-menu-list">
                        <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
                        <h3 class="pt-menu-title"><a href="#">题库管理</a></h3>
                        <ul class="pt-second-menu">
                            <!--cell-->
                            <li class="pt-menu-child">
                                <span class="glyphicon  glyphicon-th-large" aria-hidden="true"></span>
                                <h3 class="pt-menu-title"><a href="#">试卷管理</a></h3>
                            </li>
                            <!--cell-->
                            <li class="pt-menu-child">
                                <span class="glyphicon  glyphicon-th-large" aria-hidden="true"></span>
                                <h3 class="pt-menu-title"><a href="#">试题管理</a></h3>
                            </li>
                        </ul>
                    </li>
                    <!--cell-->
                    <li class="pt-menu-list " >
                        <!--一级菜单-->
                        <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
                        <h3 class="pt-menu-title"><a href="javascript:;">学员管理</a></h3>
                        <!--二级菜单列表-->
                        <ul class="pt-second-menu">
                            <!--cell-->
                            <li class="pt-menu-child">
                                <span class="glyphicon  glyphicon-th-large" aria-hidden="true"></span>
                                <h3 class="pt-menu-title"><a href="#">学员学习</a></h3>
                            </li>
                            <!--cell-->
                            <li class="pt-menu-child pt-menu-selected">
                                <span class="glyphicon  glyphicon-th-large" aria-hidden="true"></span>
                                <h3 class="pt-menu-title"><a href="#">学员考试</a></h3>
                            </li>
                        </ul>
                    </li>
                    <!--cell-->
                    <li class="pt-menu-list">
                        <!--一级菜单-->
                        <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
                        <h3 class="pt-menu-title"><a href="javascript:;">基础管理</a></h3>
                        <!--二级菜单列表-->
                        <ul class="pt-second-menu">
                            <!--cell-->
                            <li class="pt-menu-child">
                                <span class="glyphicon  glyphicon-th-large" aria-hidden="true"></span>
                                <h3 class="pt-menu-title"><a href="#">分类管理</a></h3>
                            </li>
                            <!--cell-->
                            <li class="pt-menu-child">
                                <span class="glyphicon  glyphicon-th-large" aria-hidden="true"></span>
                                <h3 class="pt-menu-title"><a href="#">字典管理</a></h3>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <!--左侧菜单 结束-->

        <!--主视口 -->

        <!--主视口 结束-->
    </div>
    <!--公共底部-->
    <div class="pt-footer">
        <div class="pt-p">版权归属 @ 天津市港口统一管理中心 CopyRight 2018 技术支持电话：400-888-5678</div>
    </div>
</div>

<script src="/src/js/pt-tables.js"></script>
<script src="/src/js/pt-tree.js"></script>
<script>
// 时间选择
$('#datetimepicker').datetimepicker({
    language : 'zh',
    format : 'yyyy-mm-dd hh:ii:ss',
    todayBtn : true,
    autoclose : true
});
</script>
</body>
</html>